html, body {margin: 0; height: 100%; overflow: hidden}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: 100%;
}

.search_container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

